@using Folio.Models;

<div id="@ID" class="section">
    <div class="d-flex flex-column">
        @if (!string.IsNullOrEmpty(Title)) {
            <h2>
                @Title
            </h2>
        }

        @if (!string.IsNullOrEmpty(Text)) {
            <div class="d-flex justify-content-center">
                <p class="w-50" style="font-size:inherit">
                    @Utils.ConvertNewLinesToBreaks(Text)
                </p>
            </div>
        }

        @if (Projects != null) {
            int perLine = AppConst.mobile ? 2 : 4;

            for (int y = 0; y < Projects.Length; y += perLine) {
                <div class="d-flex flex-row justify-content-center">
                    @for (int x = 0; x < perLine; x++) {
                        int index = y + x;
                        if (index < Projects.Length) {
                            <ProjectView Project="Projects[index]"></ProjectView>
                        }
                    }
                </div>
            }
        }

        @if (Skills != null) {
            int perLine = AppConst.mobile ? 4 : 10;

            for (int y = 0; y < Skills.Length; y += perLine) {
                <div class="d-flex flex-row justify-content-center">
                    @for (int x = 0; x < perLine; x++) {
                        int index = y + x;
                        if (index < Skills.Length) {
                            <SkillView Tag="Skills[index]" Height="2" Width="5"></SkillView>
                        }
                    }
                </div>
            }
        }
    </div>
</div>


@inject IJSRuntime jsRuntime
@code {
    [Parameter] public string ID { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public ProjectModel[] Projects { get; set; }
    [Parameter] public SkillModel[] Skills { get; set; }

    protected override Task OnInitializedAsync() {
        AppConst.OnGetSize += () => StateHasChanged();

        return base.OnInitializedAsync();
    }
}

<style>
    .section {
        scroll-margin-top: 4rem;
    }
</style>
