@using Folio.Models;

<nav class="navbar navbar-expand-lg h-100 w-100 justify-content-center" style="background-color:@(AppConst.colorTint)">
    <ul class="navbar-nav nav-fill w-75">
        @for (int i = 0; i < _infos.Length; i++) {
            int index = i;
            <li class="nav-item">
                <NavLink class="nav-link animated" href="@_infos[index].id">
                    <i class=@_infos[index].icon style="font-size:inherit; color:inherit"></i>
                    @_infos[index].name
                </NavLink>
            </li>
        }
    </ul>
</nav>


@code {
    #region Variables
    private string _appName = "MyApp";
    private PageModel[] _infos = new PageModel[] { };
    #endregion

    protected override Task OnInitializedAsync() {
        _infos = new PageModel[] {
            new PageModel("#about", "About me", "bi-person"),
            new PageModel("#pro", "Professionnal projects", "bi-archive"),
            new PageModel("#perso", "Personnal projects", "bi-archive"),
            new PageModel("#skills", "Skills", "bi-file-person"),
            new PageModel("#contacts", "Contacts", "bi-envelope-at"),
    };

        return base.OnInitializedAsync();
    }
}


<style>
    .navbar{

    }

    .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
        color: @AppConst.dark;
        transition-property: color;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: @AppConst.light;
        transition-property: color;
    }

</style>
